# All colors
{ base:         #1a1b26 };
black:        #15161e;
black1:       #414868;
black2:       #212234;
black3:       #11121d;
black4:       #06080a;
black5:       #283457;
black6:       #2E3440;
blue:         #7aa2f7;
blue1:        #7199ee;
blue2:        #81A1C1; 
blue3:        #5E81AC;
blue4:        #6272a4;
cyan:         #7dcfff;
cyan1:        #38a89d;
cyan2:        #73daca;
cyan3:        #88C0D0;
cyan4:        #8be9fd;
gray:         #3B4252;
gray1:        #434C5E;
gray2:        #4C566A;
gray3:        #616E88;
gray4:        #282a36;
gray5:        #44475a;
green:        #9ece6a;
green1:       #95c561;
green2:       #A3BE8C;
green3:       #50fa7b;
magenta:      #bb9af7;
magenta1:     #a485dd;
pink:         #ff79c6;
purple:       #B48EAD;
purple1:      #bd93f9;
orange:       #D08770;
orange1:      #ff9e64;
orange2:      #ffb86c;
red:          #f7768e;
red1:         #ee6d85;
red2:         #db4b4b;
red3:         #BF616A;
red4:         #ff5555;
teal:         #8FBCBB;
yellow:       #e0af68;
yellow1:      #d7a65f;
yellow2:      #EBCB8B;
yellow3:      #f1fa8c;
white:        #a9b1d6;
white1:       #c0caf5;
white2:       #a0a8cd;
white3:       #c0caf5;
white4:       #D8DEE9;
white5:       #E5E9F0; 
white6:       #ECEFF4;      
white7:       #f8f8f2;


